<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegisterStudent</servlet-name>
		<display-name>RegisterStudent</display-name>
		<description></description>
		<servlet-class>controller.RegisterStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginStudent</servlet-name>
		<display-name>loginStudent</display-name>
		<description></description>
		<servlet-class>controller.loginStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<display-name>AdminLogin</display-name>
		<description></description>
		<servlet-class>controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterStaff</servlet-name>
		<display-name>RegisterStaff</display-name>
		<description></description>
		<servlet-class>controller.RegisterStaff</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginStaff</servlet-name>
		<display-name>loginStaff</display-name>
		<description></description>
		<servlet-class>controller.loginStaff</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetMarksDetails</servlet-name>
		<display-name>GetMarksDetails</display-name>
		<description></description>
		<servlet-class>controller.GetMarksDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetJSONStaffDetails</servlet-name>
		<display-name>GetJSONStaffDetails</display-name>
		<description></description>
		<servlet-class>controller.GetJSONStaffDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddVideoFromStaff</servlet-name>
		<display-name>AddVideoFromStaff</display-name>
		<description></description>
		<servlet-class>controller.AddVideoFromStaff</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterFromAdmin</servlet-name>
		<display-name>RegisterFromAdmin</display-name>
		<description></description>
		<servlet-class>controller.RegisterFromAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterStaffFromAdmin</servlet-name>
		<display-name>RegisterStaffFromAdmin</display-name>
		<description></description>
		<servlet-class>controller.RegisterStaffFromAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterStudent</servlet-name>
		<url-pattern>/RegisterStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginStudent</servlet-name>
		<url-pattern>/loginStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterStaff</servlet-name>
		<url-pattern>/RegisterStaff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginStaff</servlet-name>
		<url-pattern>/loginStaff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMarksDetails</servlet-name>
		<url-pattern>/GetMarksDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetJSONStaffDetails</servlet-name>
		<url-pattern>/GetJSONStaffDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddVideoFromStaff</servlet-name>
		<url-pattern>/AddVideoFromStaff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterFromAdmin</servlet-name>
		<url-pattern>/RegisterFromAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterStaffFromAdmin</servlet-name>
		<url-pattern>/RegisterStaffFromAdmin</url-pattern>
	</servlet-mapping>
</web-app>
